
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  display: flex;
}

#header {
  grid-area: header;
  background: #fdf1eb;
  align-items: center;
  justify-content: space-between;
  padding: 0 36px;
  display: flex;
  // margin-left: 185px;
}

.topic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topic {
  color: #725c5c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.topic-title {
  font-size: 22px;
}

.right-side-header {
  display: flex;
  gap: 30px;
}

select {
  padding: 5px 25px 5px 5px;
  background: transparent;
  color: #333;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 3px;
  border: 1px solid #ccc;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.5rem auto;
  outline: none;
}

.user-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.welcome-text {
  color: #333;
  text-align: right;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-email {
  color: #333;
  text-align: right;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-picture {
  border-radius: 50%;
}









.item{
  color: black;
}

.sidebar {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 220px;
  // position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

  
  .itens{
    border-bottom: 1px solid gray;
    
  }

  .SLACA2019{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 68px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: white;
  }

  a {
      color: black;
      text-decoration: none;
      display: block;
      margin: 10px 0;

      &.active {
          font-weight: bold;
          color: black;
      }
  }
}

.content {
  // margin-left: 220px;
}

.content-header {
  background: rgba(253, 241, 235, 1);

  width: 100vw;
  height: 70px;
  left: 220px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  flex-direction: column;
  position: fixed;
  top: 0; 
}

.div-header{
  color: rgba(114, 92, 92, 1);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

.paragrafo{
  // margin-left: 220px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgba(237, 120, 57, 1);

}
.content-header h3 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;


}

.content-header h2 {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

}

.content-header h4 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

}

.retangulo {
  // margin-left: 220px;
  padding: 10px;
  width: 100%;
  height: 189px;
  top: 542px;
  border-radius: 3px;
  border: 1px;

}

.titulo {
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 5px;
  background: rgba(253, 241, 235, 1);
  width: 1058px;
  height: 45px;
  top: 542px;
  border-radius: 3px, 3px, 0px, 0px;
  border: 1px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;

}

.conteudo {
  text-align: left;
  text-align: center;
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: left;

}

#verMaisBtn {
  background: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#textoOculto {
  display: none;
}

.oculto {
  display: none;
}

.icons{
  text-align: center;
}
.paragrafo-discussao {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(237, 120, 57, 1);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  
}

.botao-laranja {
  width: 133px;
  height: 32px;
  top: 1007px;
  left: 463px;
  border-radius: 1px;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
  color: rgba(255, 255, 255, 1);
  font-family: Quicksand;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  border: none;

}
.introduction{
  display: flex;
  flex-direction: row;
}


.introduction-second{
  width: 40%;
  display: flex;
  align-items: center;

}
.retangulo-second{
  width: 40%;
}

.detalhes-div{
  width: 100%;
}

.titulo-second{
  
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 5px;
  background: rgba(253, 241, 235, 1);
  width: 1058px;
  height: 45px;
  top: 542px;
  border-radius: 3px, 3px, 0px, 0px;
  border: 1px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  
}

.conteudo-second{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  
}





/*daqui*/

.side-menu {
  grid-area: side-menu;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.links-container {
  display: flex;
  flex-direction: column;
}

.link {
  position: relative;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 2px solid rgb(189, 189, 189);
}

.link a {
  text-decoration: none;
  color: #725c5c;
}

.link:hover,
.link.active {
  background: #fdf1eb;
}

.link.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, #ffb455 0%, #ed7839 100%);
}

#content {
  grid-area: content;
  padding: 20px 45px;
}

.picture-analeb{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.video-row {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.video {
  width: 80%;
  // margin-left: 198px;
}


.overlay {
  padding: 35px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  background: rgba(141, 53, 6, 0.5);
  width: 100%;
  height: 99%;
}



.details-container,
.summary-container,
.discussion-container {
  border-radius: 3px;
  border: 1px solid #ececec;
}

.details-container {
  width: 250px;
}

.discussion-container {
  margin-bottom: 30px;
}

.summary-container {
  margin-bottom: 30px;
}

.details-title,
.summary-title,
.discussion-title {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 45px;
  color: #4e4e4e;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 125% */
  border-radius: 3px 3px 0px 0px;
  border: 1px solid #ececec;
  background: #fdf1eb;
}

.details-content {
  display: grid;
  height: calc(100% - 45px);
  justify-content: space-between;
  padding: 15px;
}

.poster {
  color: #5c5c5c;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.24px;
}

.autors {
  color: #5c5c5c;
  font-family: Quicksand;
  font-size: 14px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.28px;
}

.universities {
  color: #ada0a0;
  font-family: Quicksand;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.24px;
}










